.modal-wrapper {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.223);
    z-index: 333;
    // .modal-wrapper_active

    &_active {
        display: block;
    }
}
.modal {
    background-color: #FFF;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: rem(20);
    padding-top: rem(53);
    border-radius: 20px;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        @include font_set(normal,rem(14));
    }

    // .mofal__form

    &__form {
        @include flex_column(rem(20));
        @include font_set(normal);

    }


    // .modal__input

    &__input {
        width: 100%;
        border-radius: rem(10);
        box-shadow: 0 0 0 1px var(--light-green);
        padding: rem(5) rem(20);

        @include font_set(normal,rem(16));

        &:focus {
            box-shadow: 0 0 0 2px var(--light-green);
        }
    }

    #message {
        outline: 0;
        height: rem(100);
        resize: none;
    }
    // .modal__submit

    &__submit {
        align-self: center;
        background-color: var(--light-green);
    }
    
}

