.page {
    // .page__slider

    &__slider {
        background-color: var(--nav-gray);
        @include flex_column(rem(80));
        padding-top: rem(80);
        padding-bottom: rem(80);
        @include sm_screen() {
            row-gap: rem(40);
        }
    }
}
.slider {

    // .slider__head

    &__head {
    }

    // .slider__title

    &__title {
        @include font_set(normal,rem(48),var(--main-color),400,'Forum');
        letter-spacing: 0.03em;
        @include sm_screen() {
            font-size: rem(34);
        }
    }

}

.swiper {
    width: 100%;
    height: rem(385);
    @include l_screen() {
        height: rem(300);
    }
}

.swiper-slide {
    height: 100%;
    width: fit-content;
    img {
        height: 100%;
        width: auto;
    }
}

.slider {

    // .slider__footer

    &__footer {
    }
}
.slider-footer {

     // .slider-footer__container

     &__container {
        @include flex_row(rem(10));
        justify-content: space-between;
        align-items: center;
        @include sm_screen() {
            flex-direction: column;
            row-gap: rem(20);
        }
    }

    // .slider-footer__socials

    &__socials {
        @include flex_row(rem(20));
        @include sm_screen() {
            order: 2;
        }
    }

    // .slider-footer__nav

    &__nav {
        @include flex-row(rem(50));
        align-items: center;
        height: 100%;
        @include xs_screen() {
            column-gap: rem(20);
        }
    }

    &__prev, &__next {
        flex-shrink: 0;
        width: auto;height: 100%;
        position: static;
        margin-top: 0;
        cursor: pointer;
    }

    &__prev::after, &__next::after {
       content: '';
    }

    div.slider-footer__pagination {
        position: static;
        @include flex_row(rem(17));
        @include xs_screen() {
            column-gap: rem(10);
        }
    }

    span.swiper-pagination-bullet {
        margin: 0 !important;
        background-color: var(--bullet);
        &-active {
            background-color: #FFF;
        }
    }
}
