.page {
    // .page__slider

    &__slider {
        background-color: var(--nav-gray);
        @include flex_column(rem(80));
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}
.slider {

    // .slider__head

    &__head {
    }

    // .slider__title

    &__title {
        @include font_set(normal,rem(48),var(--main-color),400,'Forum');
        letter-spacing: 0.03em;
    }

    // .slider__body

    &__body {
        overflow: hidden;

    }

    // .slider__wrapper

    &__wrapper {
        @include flex_row(rem(25));
        margin-left: rem(-80);
        height: rem(385);
        flex-wrap:nowrap;
    }

    // .slider__slide

    &__slide {
        height: 100%;
        flex-shrink: 0;
        img {
            height: 100%;
        }
    }

    // .slider__foter

    &__foter {
    }
}
.container {
}
.slider-foot {

    // .slider-foot__social

    &__social {
        @include flex_row(rem(15));
    }

    // .slider-foot__nav

    &__nav {
    }

    // .slider-foot__nextBtn

    &__nextBtn {
    }

    // .slider-foot__prevBtn

    &__prevBtn {
    }
}
.swiper-pagination {
}
