%flex_column{
    display: flex;
    flex-direction: column;
}
%flex_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
%title_text{
    color: var(--dark);
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    @media (max-width: 992px) {
          font-size: 40px;
      }
      @media (max-width: 768px){
          font-size: 30px;
      }
      @media (max-width: 420px) {
          font-size: 24px;
      }
}