:root{
   --light: #FFF;
   --dark: #333;
   --gray: #888;
   --accent: #607CE6;
   --light-gray: #F5F5F5;  
}
$container-width: 1210; 
$breakpoint-1: 1200px;
$breakpoint-2: 992px;
$breakpoint-3: 768px;
$breakpoint-4: 576px;
$breakpoint-5: 420px;